{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Yang soon kyu | portfolio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>
<body >
    <header>

        <div class="page-header">
            <h1>
                <a href="{% url 'blog:profile' %}">Yang soon kyu</a>
            </h1>
            <h5>HTML / CSS / JavaScript / Python / SQLite </h5>
        </div>


    </header>
    <div class="main">
        <nav>

            <div>
                <ul>
                    <li><a href="{% url 'blog:profile' %}">Profile</a></li>
                    <li><a href="{% url 'blog:resume' %}">Resume</a></li>
                    <li><a href="{% url 'blog:portfolio' %}">Portfolio</a></li>
                    <li><a href="{% url 'blog:contact' %}">Contact</a></li>
                    <li><a href="{% url 'blog:design' %}">Design</a></li>
                    <li><a href="{% url 'blog:board' %}">Board</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div  class="mid">
                {% block content %}
                {% endblock %}



            </div>
        </section>
    </div>



    <!-- <div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">

                </div> -->
 <div>

        {% if user.is_authenticated %}
        <p class="logout"><span><a href="{% url 'logout' %}">로그아웃</a></span></p>
{% else%}
        <span class="login"><span>
            <a href="{% url 'login' %}">로그인 </a></span> </span>
    {% endif %}
        </div>
</body>
</html>