{% extends 'blog/base.html' %}

{% block content %}

<div class="c1" id="main">
    <p id="screen"></p>
    <p id="screen2"></p>
    <div id="calc_body">
        <ul>
            <li class="btn btnX1">Calc</li>
            <li class="btn btnX1">BMI</li>
            <li class="btn btnX1">㎡</li>
        </ul>
        <ul>
            <li class="btn">AC</li>
            <li class="btn">BS</li>
            <li class="btn">(</li>
            <li class="btn">)</li>
        </ul>
        <ul>
            <li class="btn btnBgcolor">7</li>
            <li class="btn btnBgcolor">8</li>
            <li class="btn btnBgcolor">9</li>
            <li class="btn">/</li>
        </ul>
        <ul>
            <li class="btn btnBgcolor">4</li>
            <li class="btn btnBgcolor">5</li>
            <li class="btn btnBgcolor">6</li>
            <li class="btn">*</li>
        </ul>
        <ul>
            <li class="btn btnBgcolor">1</li>
            <li class="btn btnBgcolor">2</li>
            <li class="btn btnBgcolor">3</li>
            <li class="btn">-</li>
        </ul>
        <ul>
            <li class="btn btnBgcolor btnX2">0</li>
            <li class="btn">=</li>
            <li class="btn">+</li>
        </ul>

    </div>

</div>


<script>


    function initCalc() {
        console.log("계산기를 준비합니다.");
        calcBase.body.addEventListener('click', getInput);
        var btns = document.querySelectorAll(".btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].classList.add('disable-select');
        }

        calcBase.scr.addEventListener('click', editFn);

        calcBase.deciLen = 5;
    }

    window.onload = function () {
        initCalc();
    };

    var calcBase = {
        data: [],
        data2: [],
        calcSign: "+-*/0123456789()",
        resetData: function () {
            return this.data = [];
        },
        calcData: function () {
            return eval(this.data.join(""));
        },
        removeLastInput: function () {
            var target, len, item, itemLen;
            if (calcBase.type.length == 0 || calcBase.type[0] == "B" || calcBase.type[0] == "M") {
                target = this.data;
            } else if (calcBase.type[0] == "Bcm") {
                target = this.data2;
            }

            len = target.length;
            item = target[len - 1];
            itemLen = item.length
            if (itemLen > 1) {
                var str = item.slice(0, -1);
                target[len - 1] = str;
            } else {
                target.pop();
            }
        },
        body: document.getElementById('calc_body'),
        deciLen: 0,
        scr: document.getElementById('screen'),
        type: []
    }

    function editFn(e) {
        var item, value, newValue, idx;
        item = e.target;
        value = item.innerText;
        if (item.nodeName === "SPAN") {
            idx = item.dataset.idx;
            newValue = prompt(value, calcBase.data[idx]);
            if (newValue === null) {
                return false;
            } else if (isCalcSign(newValue) === "string") {
                return alert("문자는 입력할수 없습니다.")
            } else if (isCalcSign(value) === "number" && isCalcSign(newValue) !== "number") {
                return alert("숫자를 입력해주세요");
            } else if (isCalcSign(value) === "sign" && isCalcSign(newValue) !== "sign") {
                return alert("기호를 입력해주세요");
            } else if (isCalcSign(value) !== "bracket" && isCalcSign(value) !== isCalcSign(newValue)) {
                return alert("잘못된 입력형식입니다.");
            }
            calcBase.data[idx] = newValue;
            showScreen();
        }
    }

    function getInput(e) {
        var calcBtn, dataArr, getChar, lastItem
        calcBtn = e.target;
        dataArr = calcBase.data;
        getChar = calcBtn.innerText;
        dataArrLen = dataArr.length;
        lastItem = dataArr[dataArrLen - 1];
        // }
        if (calcBtn.className.indexOf('btn') === -1) return;

        if (!dataArrLen && isCalcSign(getChar) === "sign") return;

        if (isCalcSign(lastItem) === "sign" && isCalcSign(getChar) === "sign") {
            dataArr[dataArrLen - 1] = getChar;
            showGetStr();
        } else if (Number.isInteger(parseInt(lastItem)) && Number.isInteger(parseInt(getChar)) && calcBase.type[0] !== "Bcm") {
            var a = lastItem.concat(getChar);
            if (dataArr[dataArrLen - 1].length < 12) {
                dataArr[dataArrLen - 1] = parseInt(a).toString();
            }
            showGetStr();
        } else if (getChar === "=") {
            showScreen();
        } else if (getChar === "AC") {
            if (calcBase.type.length == 0) {
                calcBase.resetData();
                showScreen();
            } else if (calcBase.type[0] == "B") {
                calcBase.resetData();
                myCalcBmi();
            } else if (calcBase.type[0] == "Bcm") {
                calcBase.resetData();
                calcBase.data2 = [];
                calcBase.type = [];
                calcBase.type.push("B")
                myCalcBmi();
            } else if (calcBase.type[0] == "M") {
                calcBase.resetData();
                myCalcM2();

            }
        } else if (getChar === "BS") {
            calcBase.removeLastInput();
            showGetStr();
        } else if (getChar === "Calc") {
            window.location.reload();
        } else if (getChar === "㎡") {
            myCalcM2();

        } else if (getChar === "BMI") {
            myCalcBmi();
        } else {
            if (calcBase.type[0] === "Bcm") {
                if (isCalcSign(getChar) === "number") {
                    calcBase.data2.push(getChar);
                }
            } else if (calcBase.type[0] === "B" && isCalcSign(getChar) !== "number") {
                return
            } else if (calcBase.type[0] === "M" && isCalcSign(getChar) !== "number") {
                return
            } else {
                dataArr.push(getChar);
            }
            showGetStr();
        }

    }

    function myCalcM2() {
        var main = document.getElementById("main");
        var scr = document.getElementById("screen");
        var scr2 = document.getElementById("screen2");
        var mini1 = document.getElementById("miniScr1");
        var mini2 = document.getElementById("miniScr2");
        if (calcBase.type[0] === "B" || calcBase.type[0] === "Bcm") {
            calcBase.resetData();
            main.childNodes[0].remove();
            main.childNodes[0].remove();
            newScr = document.createElement("P")
            main.insertBefore(newScr, main.childNodes[0]);
            main.childNodes[0].id = "screen";
            scr = document.getElementById("screen");
            scr.innerText = "㎡";
            scr2.innerText = "평";
            calcBase.type.unshift("M")
        } else {
            calcBase.resetData();
            scr.innerText = "㎡";
            scr2.innerText = "평";
            calcBase.type.unshift("M")

        }
    }

    function myCalcBmi() {
        var main = document.getElementById("main");
        var scr = document.getElementById("screen");
        var html1 = document.createElement("p");
        var html2 = document.createElement("p");
        if (calcBase.type.length === 0 || calcBase.type[0] === "M") {
            main.removeChild(scr);
            calcBase.resetData();
            calcBase.data2 = [];
            showResult();
            main.insertBefore(html1, main.childNodes[0]);
            main.insertBefore(html2, main.childNodes[1]);
            main.childNodes[0].classList.add("miniScr1");
            main.childNodes[1].classList.add("miniScr2");
            main.childNodes[1].classList.add("miniScr3");
        }
        main.childNodes[0].innerText = "체중(kg)";
        main.childNodes[1].innerText = "키(cm)";
        calcBase.resetData();
        calcBase.data2 = [];
        calcBase.type.unshift("B");
        main.childNodes[1].addEventListener('click', bmiCm)
        main.childNodes[0].addEventListener('click', bmikg)

        showResult();
    }


    function bmiCm() {
        calcBase.type.unshift("Bcm")
    }

    function bmikg() {
        calcBase.type.unshift("B")
    }

    function isCalcSign(param) {
        var cSign = calcBase.calcSign.indexOf(param)

        if (cSign > -1 && cSign < 4) {
            return "sign"
        } else if (cSign >= 4 && cSign <= 13) {
            return "number"
        } else if (cSign > 13 && cSign < 16) {
            return "bracket"

        } else { return "string" }

    }


    function showScreen() {
        showGetStr();
        if (calcBase.type.length === 0) {
            showResult(calcBase.calcData());
        } else if (calcBase.type[0] === "B" || calcBase.type[0] === "Bcm") {
            var bkg = calcBase.data.join("");
            var bcm = (calcBase.data2.join("")) / 100;
            if (bcm === 0 || bkg === "") { return }
            var bResult = bkg / (bcm * bcm);

            showResult(bResult);

        }

    }

    function showGetStr() {
        if (calcBase.type.length == 0) {
            console.log("입력된 수식을 표현");
            var cArr = calcBase.data;
            var cStr = "";
            for (i in cArr) {
                var x = parseInt(cArr[i]);
                cStr += '<span data-idx=' + i + '>';
                if (!isNaN(x)) {
                    cStr += addComma(cArr[i]);
                    cStr += '</span>';
                    continue;
                }
                cStr += cArr[i];
                cStr += '</span>';
            }
            document.getElementById("screen").innerHTML = cStr;
        } else if (calcBase.type[0] === "B") {
            var cArr = calcBase.data;
            var cStr = "";
            for (i in cArr) {
                cStr += cArr[i] + " kg";
            }
            if (cStr == "") { return document.getElementById("main").childNodes[0].innerText = "체중(kg)"; }
            document.getElementById("main").childNodes[0].innerText = cStr;
        } else if (calcBase.type[0] === "Bcm") {
            var cArr = calcBase.data2;
            var cStr = "";
            for (i in cArr) {
                cStr += cArr[i];
            }
            cStr += " cm"
            if (cStr == "") { return document.getElementById("main").childNodes[1].innerText = "키(cm)"; }
            document.getElementById("main").childNodes[1].innerText = cStr;
        } else if (calcBase.type[0] === "M") {
            var cArr = calcBase.data;
            var cStr = "";
            for (i in cArr) {
                cStr += cArr[i] + " ㎡";
            }
            if (cStr == "") {
                document.getElementById("screen").innerText = "㎡";
                return document.getElementById("screen2").innerText = "평";
            }
            document.getElementById("screen").innerText = cStr;
            showResult(cStr);

        }
    }

    function showResult(param) {
        var bStr, resultSrt;
        console.log("결과를 보여준다." + param);
        if (param === undefined) {
            param = "";
        } else if (param > 999999999999 || param < -99999999999) {
            param = "결과가 범위를 초과하고 있습니다.";
        } else {
            if (calcBase.type.length === 0) {
                param = editLimit(param);
            } else if (calcBase.type[0] === "B" || calcBase.type[0] === "Bcm") {
                if (param < 18.5) {
                    bStr = "저체중";
                } else if (param >= 18.5 && param <= 22.9) {
                    bStr = "정상";
                } else {
                    bStr = "과체중";
                }
                calcBase.deciLen = 2;
                param = "BMI 수치는 " + editLimit(param) + "이므로 <br>" + bStr + "입니다.";
            } else if (calcBase.type[0] === "M") {

                param = editLimit(parseInt(param) * 0.3025) + "평";
            }

        }

        var num, commaStr, point, pStr = "";
        if (isNaN(param) || param === "") {
            commaStr = param;
        } else {
            num = String(param); // 12345,123
            point = num.indexOf('.'); // 소숫점의 인덱스값
            if (point < 0) {
                commaStr = addComma(num); // 소수자리가 없는 경우
            } else {
                pStr = num.slice(point); // 소수부분(소숫점 포함)
                num = num.slice(0, point); // 정수부분
                commaStr = addComma(num); // 천단위 쉽표 추가
            }
        }
        document.getElementById("screen2").innerHTML = commaStr + pStr;
    }

    function editLimit(n) {
        var valLen, commaLen, deciLen = calcBase.deciLen;
        valLen = parseInt(n).toString().length;
        commaLen = parseInt(valLen / 3);
        if (valLen > 2 && valLen % 3 === 0) {
            commaLen--;
        }
        var avaLen = 15 - valLen + commaLen - 1;
        if (deciLen > avaLen) deciLen = avaLen;
        return Number(n.toFixed(deciLen));
    }

    function addComma(num) {
        if (isNaN(num)) return false;

        var str, result, l, len, sign = "";
        str = Math.abs(num).toString();
        len = str.length;
        l = len % 3;

        result = "";
        result += str.substr(0, l);

        while (l < len) {
            if (result !== "") result += ",";
            result += str.substr(l, 3);
            l += 3
        }
        if (num < 0) sign = "-";
        return sign + result;
    }



</script>

{% endblock %}