{% extends 'blog/base.html' %}

{% block content %}
<style>
    canvas{
        position: relative;
        top: 80px;
        left: 110px;
        background-color: white;
        box-shadow: 2px 2px 5px black;
    }

    .email{
        position: absolute;
        top: 576px;
        left: 598px;
        }

    .mobile{
        position: absolute;
        top: 576px;
        left: 798px;
    }

    .address{
        position: absolute;
        top: 578px;
        left: 973px;
        font-size: 0.9em;
    }
</style>
<h1 class="sub_h1"> My Contact</h1>
<div>

    <canvas id= "myCanvas" width="660" height="420"></canvas>
    <p class="email">t_j4331@naver.com</p>
    <p class="mobile">010 2405 4305</p>
    <p class="address">전주시 완산구 고사평5길 (서신동)</p>
</div>

<script>
    var myCanvas = document.getElementById("myCanvas");
    var ctx = myCanvas.getContext("2d");
    ctx.font = "20px Arial";
    ctx.fillText("양 순 규", 250,140);
    ctx.font = "13px Arial";
    ctx.fillText("신입 개발자", 330, 140)
    ctx.fillText("Yang Soon Kyu", 250,160)
    ctx.fillText("Developer", 346,160)
    ctx.fillText("E-mail  | ", 20,360)
    ctx.fillText("Mobile  | ", 220,360)
    ctx.fillText("Address |  ",390,360)
    ctx.font = "30px Arial";
    ctx.fillStyle = "darkblue"
    ctx.fillText("함께 일하고 싶습니다.", 90,230)
    ctx.font = "18px Arial";
    ctx.fillStyle = "darkblue";
    ctx.fillRect(80,240, 620, 10);



</script>

{% endblock %}