{% extends 'blog/base.html' %} {% block content %}
<style>
    img {
        float: left;
        margin-right: 20px;
        border: 1px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    }

    
    .port_main {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .port_main>div {
        /* border: rgb(165, 247, 229) solid 1px; */
        padding: 3px;
        margin: 10px;
        font-weight: bold;
        font-size: 1em;
    }

    .Link span {
        display: flex;
        display: inline-block;
        position: relative;
        left: 490px;
        top: -40px;
        padding: 2px;
        color: #262623;
        background-color: #DDF0EC;
        margin: 2px;
    }

    .port_main p {
        margin-top: 2px;
        color: #0d7373;
        font-size: 1.3em;
    }

    .text {
        overflow: scroll;
        overflow-x: hidden;
        width: 600px;
        height: 100px;
        position: absolute;
        top: 230px;
        left: 680px;
        color: black
    }

    .text p {
        margin: 1px;
    }

    .txt2 {
        position: absolute;
        top: 383px;
    }

    .txt3 {
        position: absolute;
        top: 539px;
    }

    .used{
        position: relative;
        color: #035e5e;
        font-size: 0.9em;
        font-weight: 100;
        left: 5px;
        top: -15px;
    }
</style>
<h1 class="sub_h1"> My Portfolio</h1>
<div class="port_main">

    <div class="port1">
        <a href="{% url 'blog:calculator' %}" target="_blank">
            <img src="/static/images/port1.jpg" alt="" width="200">
        </a>
        <p>사칙연산 + 생활계산기 </p>
        <span class="used"> HTML / CSS / JavaScript</span>
        <div class="Link">
            <span>
                <a href="{% url 'blog:calculator' %}" target="_blank">화면보기</a>
            </span>
            <span>
                <a href="https://github.com/yangsoonkyu/portfolio1/blob/master/blog/templates/blog/calculator_site.html" target="_blank">소스보기</a>
            </span>
        </div>
        <br>
    </div>
    <div class="port2">
        <a href="{% url 'blog:game' %}" target="_blank">
            <img src="/static/images/port2.jpg" alt="" width="200">
        </a>

        <p>물고기 피하기 게임</p>
        <span class="used"> HTML / CSS / JavaScript</span>
        <div class="Link">
            <span>
                <a href="{% url 'blog:game' %}" target="_blank">화면보기</a>
            </span>
            <span>
                <a href="https://github.com/yangsoonkyu/portfolio1/blob/master/blog/templates/blog/game_site.html" target="_blank">소스보기</a>
            </span>

        </div>

    </div>
    <div class="port3">
        <a href="{% url 'blog:image' %}" target="_blank">
            <img src="/static/images/port3.jpg" alt="" width="200">
        </a>

        <p>이미지 뷰어</p>
        <span class="used"> HTML / CSS / JavaScript</span>
        <div class="Link">
            <span>
                <a href="{% url 'blog:image' %}" target="_blank">화면보기</a>
            </span>
            <span>
                <a href="https://github.com/yangsoonkyu/portfolio1/blob/master/blog/templates/blog/image_viewer_site.html" target="_blank">소스보기</a>
            </span>

        </div>
    </div>

</div>
<div class="text">
    <p>수식을 입력하여 사칙연산 수행할수 있습니다</p>
    <p>입력수식과 결과를 화면에 보여줍니다</p>
    <p>키보드 단축키 기능이 있습니다</p>
    <p>BMI, 평방미터 계산 기능이 있습니다</p>
</div>
<div class="text txt2">
    <p>키보드 방향키로 조작하여 플레이합니다</p>
    <p>물고기(장애물)을 피하는 게임입니다</p>
    <p>스코어에 따라 스테이지가 나누어집니다</p>
    <p>게임오버되면 게임을 다시 시작할수 있습니다</p>
</div>
<div class="text txt3">
    <p>이미지 파일을 불러와서 화면에 나타낼수 있습니다.</p>
    <p>이미지 위에 마우스를 올리면 실제사이즈 보기(뷰어)가 가능합니다</p>
    <p>마우스를 내리면 뷰어가 종료됩니다.</p>
    <p>뷰어에 보이는 화면은 마우스의 좌표에 따라 바뀝니다.</p>
    <p>이미지 안의 마우스위치를 나타네는 사각형은 이미지 밖으로 나갈수 없습니다</p>
</div>
{% endblock %}