{% extends 'blog/base.html' %} {% block content %}
<style>
    .top {
        /* border: 1px solid white; */
        height: 100px;

    }

    .postedit {
        width: 700px;
        height: 500px;
        /* background-color: white; */
        margin-left: 100px;


    }

    .top p {
        color: white;
        font-weight: bold;
    }

    #id_title {
        width: 600px;
    }

    #id_text {
        width: 600px;
        height: 320px;
    }

    /* #idSubmit{
        position: relative;
        left: 550px;
    } */

    .colorBtn{
        background-color: #DDF0EC;
        font-weight: bold;
    }

    label{
        display: flex;
        margin-top: 3px;
    }
</style>
<div class="top">
    <p>자유 게시판 입니다. 업데이트 진행중입니다.</p>
    <!-- <span>
        <a href="{% url 'blog:post_new' %}"> 글쓰기</a>
    </span> -->
</div>
<div class="postedit">
    <form action="" method="POST" onkeydown="enterCheck();">{% csrf_token %}

            {{form}}
       
        
        <span id="idSubmit">
            <input type="submit" value="저장" class="colorBtn" >
            <input type="button" value ="취소" onclick="moveBoard()" class="colorBtn">
        </span>

        
    </form>

</div>

<script>

    function moveBoard(){
        location.href ="{% url 'blog:board' %}";

    }


</script>
{% endblock %}