{% extends 'blog/base.html' %} {% block content %}
<h1 class="sub_h1"> About Me</h1>
<style>
    .profile {
        margin-right: 20px;
        margin-left: 20px;
    }

    img {
        border: 1px solid lightgray;
        position: relative;
        top: 10px;
        margin-right: 3px;
    }

    .name {
        position: absolute;
        top: 380px;
        left: 800px;
        font-weight: bold;
        font-size: 1.5em;
    }

    .contact {
        position: absolute;
        top: 425px;
        left: 790px;
        color: gray;

        font-size: 0.85em;
    }

    .len {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 1px 5px 1px 5px;
    }

    .phone {
        position: absolute;
        left: 1090px;
    }

    .ins {
        position: absolute;
        left: 1190px;
    }

    .none {
        position: absolute;
        left: 1036px;
    }

    .profile_txt{
        position: absolute;
        top: 440px;
        left: 798px;
    }

    .profile_txt p{
        margin: 0px;
        font-size: 0.93em;
    }

    .comment{
        position: absolute;
        top: 720px;
        left: 490px;;
        font-size: 0.8em;
        color: orangered;
    }
    section{ background-color: white;}

</style>



<div class="profile">
    <img src="/static/images/Kakao.png" alt="" style="width:330px;">
    <img src="/static/images/Kakao2.jpg" alt="" style="width:500px;">
    <!-- <img src="/static/images/프로필.jpg" alt="" style="width:200px;"> -->
    <div class="profile">
        <p class="name">양순규</p>
        <p class="contact len">HTML/ CSS / JavaScript / Python</p>
        <p class="contact phone">010 2405 4305</p>
        <a href="https://www.instagram.com/y__xkyu/" target="_blank"><p class="contact ins">y__xkyu</p></a>
        <p class="contact none">1:1</p>


    </div>
    <div class="profile_txt">
        <h3>프로그래밍 공부하면서 가장 많이 들은 말!</h3>

        <p>제가 프로그래밍을 시작하게 된 계기는 전자제품에 대한 관심으로 시작되었습니다</p>
        <p>새로운 기술들이 쏟아져 나오고 있고 경험하며 살아가면서 사용만 하는게 아니라</p>
        <p>나도 한번 새로운 것들을 만들 수 있지 않을까 생각하게 되었습니다.</p>
        
        <p>조금 늦게 시작한 감이 있지만 그래도 응원과 함께 가장 많이 들었던 말은</p>
        <p>'잘 어울린다' 입니다</p>
        <p>그만큼 컴퓨터와 가갑게 지냈고 동아리 활동도 했으며 컴퓨터 잘 아는 친구로</p>
        <p> 통했기 때문에 배움에 있어 흥미를 느끼게 되었습니다 </p>

        <p>공부를 시작하면서 전혀 다른 분야와 처음듣는 용어들로 당황스러웠지만</p>
        <p>코드를 입력해서 프로그램을 만든다는게 신기했고 응용해서  </p>
        <p>기능을 추가하는 일들이 재미있게 느껴졌습니다</p>

        <p>아직은 신입으로써 배워야할 점이 더 많지만 즐거운 마음으로 일하고싶습니다 </p>
        
    </div>
    <div>
    <span class="comment"> * 실제 대화 내용을 각색하였습니다.</span>   
    </div>

</div>



{% endblock %}