{% extends 'blog/base.html' %} {% block content %}

<h1 class="sub_h1"> My Resume</h1>
<style>
    img {
        position: absolute;
        top: 180px;
        left: 940px;
        width: 300px;
        height: 150px;
    }

    .img2 {
        top: 351px;
    }

    .img3 {
        top: 544px;
    }

    .list {
        width: 110px;
        height: 150px;
        margin-left: 30px;
        margin-top: 40px;

    }

    .date {
        position: absolute;
        /* border: 1px solid rgb(140, 197, 179); */
        width: 150px;
        height: 150px;
        left: 560px;
        top: 190px;
        padding: 5px;
        text-align: center;

    }

    .date p,
    .value p {
        background-color: white;
        border-radius: 8px;
        color: black;
        font-weight: bold;
        padding: 1px 0 1px 0;
    }

    .list p {
        background-color: #afc0cf;
        border-radius: 8px;
        color: white;
        font-weight: bolder;
        font-size: 1.3em;
        text-align: center;
        text-shadow: 2px 2px 5px black;
    }

    .liTxt{
        position: relative;
        top: -17px;
    }


    .txt2 {
        position: absolute;
        top: 371px;
    }

    .txt3 {
        position: absolute;
        top: 554px;

    }

    .value {
        /* border: 1px solid red; */
        position: absolute;
        top: 192px;
        left: 720px;
        width: 220px;
        height: 150px;
        padding: 5px;
        text-align: center;
        font-size: 0.9em;
    }

    .text2 {
        position: absolute;
        top: 373px;
    }

    .text3 {
        position: absolute;
        top: 556px;
        font-size: 0.9em;
    }

    .comment {
        position: absolute;
        top: 195px;
        width: 320px;
        height: 150px;
        left: 998px;
        font-size: 0.9em;
        font-weight: bold;
    }

    .comment p {
        margin: 1px;
    }

    .mini {
        font-size: 0.83em;
        padding-bottom: 10px;
    }


    .memo2 {
        font-size: 0.85em;
        position: absolute;
        top: 360px;
    }

    .commentText1{
        position: absolute;
        top: -3px;
    }  
    .commentText2{
        position: absolute;
        top: 43px;
    }  
    .commentText3{
        position: absolute;
        top: 85px;
    }

    .memo3 {
        position: absolute;
        top: 559px;
    }


    section {
        background: url("/static/images/back2.jpg")
    }

    .top1 {
        width: 50px;
    }

    #clock {
        position: absolute;
        top: 153px;
        left: 770px;
        font: bold 1.3em sans;
    }
</style>


<div>
    <div class="list">
        <p>학력</p>
    </div>
    <div class="list">

        <p>경력</p>
    </div>
    <div class="list liTxt">

        <p>교육사항</p>
    </div>

    <div class="date txt1">
        <p>2006.02 - 2009.02</p>
        <p>2010.02 - 2011.04</p>
    </div>
    <div class="date txt2">
        <p>2010.03 - 2014.02</p>
        <p>2014.04 - 2016.03</p>
        <p>2016.04 - 2018.03</p>
    </div>
    <div class="date txt3">
        <p>2018.05 - 2018.11</p>
    </div>

    <div class="value text1">
        <p>군산상고 | 컴퓨터그래픽과 | 졸업 </p>
        <p>군산대학교 | 산업디자인과 | 중퇴 </p>
    </div>
    <div class="value text2">

        <p>군산 노리야 수송점 | 4년</p>
        <p>동일방직 | 2년</p>
        <p>새벽시장 (서신점, 나운점) | 2년 </p>
    </div>
    <div class="value text3">
        <p>스마트웹&콘텐츠 개발자 양성</p>
    </div>
    <div>

        <img src="/static/images/comment.png" alt="">
        <img class="img2" src="/static/images/comment2.png" alt="">
        <img class="img3" src="/static/images/comment.png" alt="">
    </div>
    <div class="comment memo1">
        <p>멀티미디어 동영상 대회 | 금상</p>
        <p class="mini">수여기관: 전라북도 교육감 (2007.12)</p>
        <p>전북 상업실무능력 경진대회 | 동상</p>
        <p class="mini">수여기관: 전라북도 교육정보과학원장 (2008.09)</p>
        <p>전북 ICT 활용 창의성 대회 | 동상</p>
        <p class="mini">수여기관: 전라북도 교육감 (2007.07)</p>
    </div>
    <div class="comment memo2">
        <div class="commentText1">
            <p >식자재 관리 및 주문</p>
            <p>마케팅 및 디자인 관련업무 </p>
            
        </div>
        <div class="commentText2">
            <p>기계 에러처리 및 수치변화 보고</p>
            <p>정량측정 및 조절, 신입교육</p>
        </div>
        <div class="commentText3">
            <p>메인주방, 식자재관리 및 주문, 홀매니저</p>
            <p>마케팅 및 디자인 관련업무</p>
            <span class="mini">(전단지,배너,메뉴판,SNS)</span>
        </div>
    </div>
    <div class="comment memo3">
        <p>프론트엔드 개발자 양성 수업 이수</p><br>
        <p>웹 | html5, CSS3, javaScript</p>
        <p>서버 | Python, Django</p>
        <p>DB | SQLite</p>
        <p style="font-size: 0.9em;">개발자도구 | Visual Studio Code, Pycharm</p>
    </div>

    <p id="clock"></p>
    <script>
        function displayTime() {
            var elt = document.getElementById("clock");
            var now = new Date();
            var time = now.toLocaleTimeString();
            elt.innerHTML = time.slice(0, -3);
            setTimeout(displayTime, 1000);
        }
        window.onload = displayTime;  
    </script>

</div>


{% endblock %}