   *{ box-sizing: border-box;}

h1 a {
    color: #DDF0EC;
    font-family: 'Lobster';
}

nav li a {
    color:#262623;
}

body {
    padding-left: 15px;
    background-color: #262623;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 200px;
    margin-top: 80px;
    width: 1200px;
    }

.main {
    display: flex;
    flex-direction: row;
    }

nav {
    background-color: #DDF0EC;
    }

nav ul {
    padding: 0px;
    }

nav li {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 200px;
    height: 100px;
    padding: 20px 0 0 20px;
    }

section {
    background-color: #74AF9C;
    width: 1600px;
    }
