   *{ box-sizing: border-box;}
   ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 80px;
            padding-top: 30px;
            color: #DDF0EC;

        }


   nav{
            position: -webkit-sticky;
            background-color:#91CD8E;
            position: sticky;
            top:0px;

        }

   li{
            display: inline;
            text-align: center;
            }

   .page-header {
            background-color: #74AF9C;
            display: flex;
            justify-content: center;

        }


   .page-header h1{
            padding-top: 30px;
            display: inline;

        }

   header{
            width: auto;
            justify-content: center;

        }

h1 a {
    color: #DDF0EC;
    font-family: 'Lobster';
}
body {
    padding-left: 15px;
}

nav li a {
    color:#DDF0EC;
}